.ButtonCategory{
  background:  blue;
  color: white;
  padding: 15px;
  border-radius: 5px;
  margin: 5px;
  border: none;
}

.ButtonCategory:hover {
  background: darkblue;
  cursor: pointer;
}
.contenCards{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}